// Specific CSS for your home-page

.banner {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 300px 0 145px 0;
  height: 600px;
  top: 0;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 44px;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  margin-bottom: 30px;
}



// Arrow Down

.container a {
  position: relative;
  top: 160px;
  left: 50%;
}

.arrow-down {
  width: 100%;
  margin: 300 auto;
  text-align: center;
}

.arrow-down::after{
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 2s arrow infinite ease;
}

@-webkit-keyframes arrow {
  0%, 100%{
    top: 50px;
  }
  50% {
    top: 80px;
  }
}
@keyframes arrow {
  0%, 100%{
    top: 50px;
  }
  50% {
    top: 80px;
  }
}


// How to Section

.how-to {
  width: 100%;
}

.how-to h1 {
  padding-top: 80px;
  text-align: center;
  color: #384D48;
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
}

.steps {
  display: flex;
  padding: 80px 80px 120px 80px;
  justify-content: space-around;
}
.step-1{
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 56px;
  box-shadow: 0px 4px 24px rgba($color: #000000, $alpha: 0.3);
}

.step-1 h3 {
  color: black;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #384D48;
}
.step-1 i {
  // color: #33903f;
  font-size: 80px;
  margin: 40px auto;
}

.step-1 p{
  width: 100%;
  text-align: center;
}

// Meet our customer

.customer {
  background-color: rgb(248, 248, 248);
  padding-bottom: 80px;

}

.customer h1 {
  padding-top: 80px;
  text-align: center;
  color: #384D48;
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
}

// Farmer profile

.farmer {
  width: 85vw;
  margin: 80px auto;
  display: flex;
  padding: 80px;
  box-shadow: 0px 4px 24px rgba($color: #000000, $alpha: 0.3);

}

.farmer-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.farmer-details p, h2, h4 {
  text-align: center;
  margin: 0px;
}
.farmer-details h2 {
  text-align: center;
  margin: 0px;
}
.farmer-details h4 {
  text-align: center;
  margin: 0px;
}


// **Tablets**
@media (max-width: 1024px)  {
  .steps {
    flex-wrap: wrap;
  }
  .step-1 {
    width: 90%;
    margin-top: 40px;
  }
  .step-1 p {
    width: 100%;
    text-align: center;
  }

}

// **Mobile**

@media (max-width: 767px) {
  .steps {
    flex-wrap: wrap;
    padding: 0 40px 60px 40px;

  }
  .step-1 {
    width: 100%;
    margin-top: 40px;
    padding: 40px;
  }
  .step-1 p {
    width: 100%;
    text-align: center;
  }

  .search-form-control {
    width: 100%;
  }

  .farmer {
    display: grid;
  }

  .farmer img {
    margin: 0 auto;
  }

  .farmer-details {
    margin-top: 10px;
  }

  
}

