<h2 style='margin-top: 50px;'>My cart</h2>

<div class="container-f">
  <div class="checkout-cart">
    <div class="order-products">
      <% if @order.order_products %>
        <% @order.order_products.each do |order_product| %>
        <%= render "order_products/order_product", order_product: order_product %>
        <% end %>
      <% end %>
    </div>
    <div>
    <%= render "orders/summary", order: @order, total: @total_and_shipment %>
    </div>
  </div>
</div>



