<div style='width: 85vw; margin: 20px auto'>
<div class="container">    
      <div class="form-login">
        
         <h2 style="text-align:center">Your restaurant</h2>

          <%= simple_form_for(@restaurant) do |f| %>
            <div class="form-inputs mt-4">
              <%= f.input :name, label: "What is the name of your company" %>
              <%= f.input :address, label: "What is your billing address" %>
            </div>
            <div class="form-actions d-flex justify-content-center mt-4 mb-4">
              <%= f.button :submit, "Create restaurant", class: "btn-f-d btn-l" %>
            </div>
          <% end %>
     </div>
    
  
</div>
</div>