.profile-background {
  overflow: hidden;
  background: #f9f9f9;
  height: 700px;
  width: 100%;
  
}

.profile-background > img {
  overflow: hidden; 
  height: 400px; 
  width: 100%; 
  object-fit: cover; 
}

.profile-background h1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.profile-background p {
  font-size: 16px;
}

.profile-background .profile-infos {
  padding: 47px 0px 23px 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.profile-infos .profile-text {
  margin-left: 150px;
  width: 1122px;
}

.name-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-infos .profile-avatar {
  position: absolute;
  left: 1px;
  top: -90px;
  width: 180px ;
}




