// Card for products in products page
.product-card {
    width: 335px;
    box-shadow: 0px 4px 24px rgba($color: #000000, $alpha: 0.3);
    margin-bottom: 50px;
    position: relative;
}

.product-card-parent {
    position: relative;
}


.card-img-restaurant {
    width: 100%;
    height: 160px;
    object-fit: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/400/335);
    cursor: pointer;
}

.card-img-farmer {
    width: 100%;
    height: 160px;
    object-fit: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/400/335);
}

.add-b {
    padding: 4px 16px;
    float: right;
    font-size: 27px;
    color: white;
    // transform: translateZ(0);
    // box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    // backface-visibility: hidden;
    // -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    position: absolute;
    right: 0px;
    z-index: 1;
}


.add-b-r{
    padding: 4px 16px;
    font-size: 27px;
    color: white;
    transition-duration: 0.3s;
    transition-property: transform;
}

.add-b-r:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.5)


}

.add-b:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.5)

}

.card-details {
    background-color: #ffffff;
    border-top: 1px solid #A9A9A9;
    height: 78px;
    padding: 4px 10px;
    h4 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.rows {
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    align-items: center;
}

.photo-card {
    position: absolute;
    margin-top: -50px;
    margin-left: -50px
  }



// END of Card for products in products page

// Additions to product show page
// .add-to-cart {
//     position: absolute;
// }
// End of additions to product show page
