.input-f {
  width: 185px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  padding-left: 14px;
}

.input-m {
  width: 300px
}

.input-l {
  width: 400px
}

.input-search {
  width: 100%;
  height: 64px;
  border-radius: 0px;
  margin-top: 50px;
}