// nav for homepage
.farmer-nav-home li {
  display: inline-block;
  text-align: center;
  padding: 15px 25px;

}

.list-container-home {
  width: 100%;
  margin: 0 auto;
}

.farmer-nav-home {
  color: white;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: bold;
  font-size: 18px;
}
.list-container-home ul {
  float: right;
}
// nav for other pages
.farmer-nav li {
  display: inline-block;
  text-align: center;
  padding: 15px 25px;
}

.list-container {
  width: 1320px;
  // margin: 0 auto;
}
.list-container-f {
  width: 1400px;

}

.farmer-nav {
  background: black;
  color: white;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: bold;
  font-size: 16px;
  position: sticky;
  z-index: 1;
  top: 0;
}

.float-list {
  float: right;
  margin-top: 9px;
}


// **Tablets**
@media (max-width: 1024px)  {
    .farmer-nav-home {
      margin: 0 auto;
      font-size: 18px;
    }
  }

// **Mobile**
@media (max-width: 767px) {
    .farmer-nav-home {
      float: left;
      position: relative;
      left: 50%;
    }
    .list-container-home {
      float: left;
      position: relative;
      left: -50%;
    }
  }
