.farmer-nav li {
  display: inline-block;
  text-align: center;
  padding: 0px 25px;
}

.list-container {
  width: 1320px;
  padding: 18.75px 0px;
  margin: 0 auto;
}

.farmer-nav {
  background-color: black;
  height: 75px;
  color: white;
  font-size: 24px;
  font-weight: 600;
}




