.filter {
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.filter-input > * {
    margin: 0px 24px 0px 0px;
}

.input-search input {
  width: 1500px;
}

.simple_form label {
  font-size: 20px;
}