// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/utilities";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
//
@import "products/index";
@import "farmers/show";
@import "products/show";

.container-f {
    width: 1320px;
    margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  text-align: left;
  background-color: #FFFFFF;
}
