.page-container {
    display: flex;
    justify-content: space-around;
    width: 1320px;
    margin: 0 auto;
}

.side-nav {
    width: 200px;
    margin-top: 50px;
}

.cards-container {
    display: flex;
    margin-top: 40px;
    // margin: 0 auto;
}

.nav-icon {
    font-size: 25px;
    color: white;
    transform: scale(1.05);
    transition: 0.5s;
    transform: rotate(120deg);
}

.nav-icon:hover{
    font-size: 30px;
    color: white;
}

.cat-item {
  text-decoration: none;
  color: black;
  padding: 10px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.filter-item {
  text-decoration: none;
  color: black;
  margin-right: 160px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
