.page-container {
    display: flex;
    justify-content: space-around;
    width: 1320px;
    margin: 0 auto;
}

.side-nav {
    width: 200px;
    margin-top: 50px;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    margin-top: 70px;
    // margin: 0 auto;
}

.nav-icon {
    font-size: 25px;
    color: white;
    transform: scale(1.05);
    transition: 0.5s;
    transform: rotate(120deg);
}

.nav-icon:hover{
    font-size: 30px;
    color: white;
}

.input-search-f {
    width: 240px
}

.input-price-f {
    width: 180px;
}

.input-distance-f {
    width: 180px;

}
.product-name {
  text-decoration: none;
  color: black;
  // &:hover {
  //   text-decoration: none;
  //   color: black;
  // }
}

.cat-item {
  text-decoration: none;
  color: black;
  padding: 10px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.filter-item {
  margin-right: 30px;
}

.container-f {
    width: 1320px;
    margin: 0 auto;
}

.product-name {
    color:black;  
}

.link-name:hover {
    text-decoration: none;  
    color:green;
}

.category h3 {
    text-align: left;
}

.farmer-name {
    display: flex;
    justify-content: center;
    margin-bottom:  5%;
}

.rating-price {
    display: flex;
    justify-content: space-between;
    margin-bottom:  5%;
}

.product-box {
    width: 560px;
    height: 960px;
    background: #ffffff;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    position: relative;
  }
  
  .profile-avatar {
    position: absolute;
    left: 400px;
    top: 331px;
  }
  
  .basic-infos {
    padding: 50px;
    height: 577px;
  }
  
  .title-rating {
    margin-bottom: 10px;
  }

  .title-rating h3 {
    margin-top: 10px;
  }
  
  .price {
    display: flex;
    justify-content: space-between;
  }
  
  
  .add-to-cart {
    padding-bottom: 0px;
    bottom: 25px;
    left: 32.5%;
    position: absolute;
  }

//media queries

@media (max-width: 4000px) {
    .responsive-dropdown {
        display: none;
    }
}

@media (max-width: 1200px) {
    .responsive-dropdown {
        display: contents;
    }

    .category {
        display: none;
    }

    .input-search {
        width: 100vw;
    }

    .container-f {
        width: 100%;
    }

}
